[submodule "lib/cNBT"]
	path = lib/cNBT
	url = https://github.com/BitBlitObviMormon/cNBT.git
[submodule "lib/FastNoise"]
	path = lib/FastNoise
	url = https://github.com/Auburns/FastNoise.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/BitBlitObviMormon/zlib.git
