# Text editor backup files
*~
\#*#

# User-specific files - Visual Studio
*.suo
*.user
*.sln.docstates

# Thumbnail files - Windows
Thumbs.db

# Visual Studio build files
MSVS/[Dd]ebug/
MSVS/[Rr]elease/
MSVS/Bare-Bones-Minecraft-Server/[Dd]ebug/
MSVS/Bare-Bones-Minecraft-Server/[Rr]elease/
MSVS/cNBT/[Dd]ebug/
MSVS/cNBT/[Rr]elease/
MSVS/FastNoise/[Dd]ebug/
MSVS/FastNoise/[Rr]elease/
MSVS/zlib/[Dd]ebug/
MSVS/zlib/[Rr]elease/


# Visual C++ cache files
MSVS/.vs/
MSVS/ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx