# Text editor backup files
*~
\#*#

# User-specific files - Visual Studio
*.suo
*.user
*.sln.docstates

# Thumbnail files - Windows
Thumbs.db

# Visual Studio build files
MSVS-2017/[Dd]ebug/
MSVS-2017/[Rr]elease/
MSVS-2013/[Dd]ebug/
MSVS-2013/[Rr]elease/

# Visual C++ cache files
MSVS-2017/.vs/
MSVS-2017/ipch/
MSVS-2013/ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx