[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/BitBlitObviMormon/zlib.git
[submodule "lib/nbtplusplus"]
	path = lib/nbtplusplus
	url = https://github.com/BitBlitObviMormon/libnbtplusplus.git
